<PackageConfiguration xmlns="http://www.siemens.com/automation/Openness/AddIn/Publisher/V16">
  <Author>Siemens AG - SIMATIC Systems Support</Author>
  <AddInVersion>V16</AddInVersion>
  <Description>With this TIA Add-In you can convert a FC into a FB and vice versa.</Description>

  <Product>
    <Name>FC-FB Converter</Name>
    <Id>fc_fb_converter</Id>
    <Version>1.0.2</Version>
  </Product>

  <FeatureAssembly>
    <AssemblyInfo>
      <Assembly>bin\Debug\FCFBConverter.dll</Assembly>
    </AssemblyInfo>
  </FeatureAssembly>

  <AdditionalAssemblies>
    <AssemblyInfo>
      <Assembly>bin\Debug\FCFBConverter.XmlSerializers.dll</Assembly>
    </AssemblyInfo>
  </AdditionalAssemblies>

  <RequiredPermissions>
    <TIAPermissions>
      <TIA.ReadWrite/>
    </TIAPermissions>
    <SecurityPermissions>
      <System.Security.Permissions.FileIOPermission/>
      <System.Security.Permissions.EnvironmentPermission/>
      <System.Security.Permissions.UIPermission/>
      <System.Security.Permissions.SecurityPermission.UnmanagedCode/>
    </SecurityPermissions>
  </RequiredPermissions>
</PackageConfiguration>