.vs/
SimaticML/bin/
SimaticML/obj/
SimaticML/.vs/
TiaUtilities/bin/
TiaUtilities/obj/
TiaUtilities/.vs/
TiaAddIn-Spin/bin/
TiaAddIn-Spin/obj/
TiaAddIn-Spin/.vs/
OLD/TiaUtilities_V48/bin/
OLD/TiaUtilities_V48/obj/
OLD/TiaUtilities_V48/.vs/
AddIn_V16/bin/
AddIn_V16/obj/
AddIn_V16/.vs/
AddIn_V17/bin/
AddIn_V17/obj/
AddIn_V17/.vs/
AddIn_V18/bin/
AddIn_V18/obj/
AddIn_V18/.vs/
AddIn_V19/bin/
AddIn_V19/obj/
AddIn_V19/.vs/